<form class="doom-bc-sheet" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
    <div class="header-fields">
      <h1><input name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'DOOMBC.ActorName'}}" /></h1>
      <p>{{localize "DOOMBC.ActorType.npc"}} | {{system.npcSubtype}}</p>
    </div>
  </header>

  <section class="sheet-body">
    <p>{{localize "DOOMBC.Placeholder.phase0"}}</p>
  </section>
</form>
